<!-- 保密協議內容 -->
<div class="modal fade" id="clothesModal" tabindex="-1" role="dialog" aria-labelledby="clothesModalTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="clothesModalTitle"><b>第八屆社服尺寸</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <p>茲參與人（以下簡稱甲方）參與逢甲大學黑客社（以下簡稱乙方）辦理社課或演講活動，為保障雙方權益，經雙方同意訂立本保密協議以茲遵守，其條款如下：</p>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">
                <i class="fas fa-tshirt"></i>
                確認
            </button>
        </div>
    </div>
</div>
</div>