{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
{% endblock %}

{% block title %}黑客社 - 查詢(入社表單){% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h3>入社表單 - 查詢</h3>
        </div>
        <div class="btn-group col-auto">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                匯出 CSV
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'chart:export_all' %}">全部</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'chart:export_M' %}">已繳費</a>
                <a class="dropdown-item" href="{% url 'chart:export_NP' %}">未繳費</a>
            </div>
        </div>
    </div>
    
    <hr>
    <form action="{% url 'join:search' %}" method="POST">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <label class="sr-only" for="nid">NID</label>
            <div class="input-group col-6">
                <div class="input-group-prepend">
                    <div class="input-group-text">入社表單</div>
                </div>
                <input type="text" class="form-control" id="searchTerm" placeholder="輸入學號、姓名、電話" name="searchTerm">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="fas fa-search"></i>
                        查詢
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="container">
    <table class="table table-striped table-hover ">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">姓名</th>
        <th scope="col">學號</th>
        <th scope="col">系級</th>
        <th scope="col">電話</th>
        <th scope="col">付款方式</th>
        <th scope="col">銀行末五碼</th>
        <th scope="col">Discord ID</th>
        <th scope="col">社服尺寸</th>
        <th scope="col">入社情況</th>
        <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'join:review' member.id %}">{{ member.name }}</a></td>
        <td>{{ member.nid }}</td>
        <td>{{ member.dept }}</td>
        <td>{{ member.phone }}</td>
        <td>{{ member.get_pay_display }}</td>
        <td>{{ member.bankAccount }}</td>
        <td>{{ member.DiscordId }}</td>
        <td>{{ member.get_clothes_display }}</td>
        {% comment %} 已入社 {% endcomment %}
        {% ifequal member.status "M" %}
        <td>
            <span class="badge badge-pill badge-success">
                {{ member.get_status_display }}
            </span>
        </td>
        <td>
            <a href="{% url 'join:send_email' id=member.id %}" class="btn btn-success mr-1" role="button">
                <i class="fas fa-hand-holding-usd"></i>
                重新寄送收據
            </a>
        </td>
        {% endifequal %}
        {% comment %} 未付款 {% endcomment %}
        {% ifequal member.status "NP" %}
        <td>
            <span class="badge badge-pill badge-danger">
                {{ member.get_status_display }}
            </span>
        </td>
        <td>
            <form class="form-inline" action="{% url 'join:review' id=member.id %}" method="POST">
                {% csrf_token %}
                {% comment %} 未付款 {% endcomment %}
                <button type="submit" class="btn btn-success mr-1">
                    <i class="fas fa-hand-holding-usd"></i>
                    確認付款
                </button>
            </form>
        </td>
        {% endifequal %}
        </tr>   
        {%endfor%}
    </tbody>
    </table>
</div>
     
</div>
{% endblock %}
