{% extends "layout.html" %}

{% block title %}黑客社 - 修改入社表單{% endblock %}

{% block content %}
<div class="container">
    <h3>修改入社表單</h3>
    <hr>
    <form action="{% url 'join:edit' id=member.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            <input type="text" name="name" class="form-control" value="{{ member.name }}" placeholder="請輸入姓名" maxlength="50" required id="id_name">
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.nid.label_tag }}
            <input type="text" name="nid" class="form-control" value="{{ member.nid }}" placeholder="請輸入學號" maxlength="15" required id="id_nid">
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.nid.errors %}
                {% for error in form.nid.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.dept.label_tag }}
            <input type="text" name="dept" class="form-control" value="{{ member.dept }}" aria-describedby="deptHelp" placeholder="請輸入系級" maxlength="20" required id="id_dept">
            <small id="deptHelp" class="form-text text-muted">{{ form.dept.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.dept.errors %}
                {% for error in form.dept.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.level.label_tag }}
            <select name="level" class="form-control" placeholder="" id="id_level">
                <option value="B1" {% ifequal member.level "B1" %}{{"selected"}}{% endifequal %}>大一</option>
                <option value="B2" {% ifequal member.level "B2" %}{{"selected"}}{% endifequal %}>大二</option>
                <option value="B3" {% ifequal member.level "B3" %}{{"selected"}}{% endifequal %}>大三</option>
                <option value="B4" {% ifequal member.level "B4" %}{{"selected"}}{% endifequal %}>大四</option>
                <option value="M1" {% ifequal member.level "M1" %}{{"selected"}}{% endifequal %}>碩一</option>
                <option value="M2" {% ifequal member.level "M2" %}{{"selected"}}{% endifequal %}>碩二</option>
            </select>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.level.errors %}
                {% for error in form.level.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.phone.label_tag }}
            <input type="text" name="phone" class="form-control" value="{{ member.phone }}" aria-describedby="phoneHelp" placeholder="請輸入電話號碼" maxlength="15" id="id_phone">
            <small id="phoneHelp" class="form-text text-muted">{{ form.phone.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.phone.errors %}
                {% for error in form.phone.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            <input type="email" name="email" class="form-control" value="{{ member.email }}" aria-describedby="emailHelp" placeholder="請輸入點子郵件" required id="id_email">
            <small id="emailHelp" class="form-text text-muted">{{ form.email.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.pay.label_tag }}
            <select name="pay" class="form-control" placeholder="" id="id_pay">
                <option value="C" {% ifequal member.pay "C" %}{{"selected"}}{% endifequal %}>現金</option>
                <option value="R" {% ifequal member.pay "R" %}{{"selected"}}{% endifequal %}>匯款</option>
            </select>
            <small id="payHelp" class="form-text text-muted">{{ form.pay.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.pay.errors %}
                {% for error in form.pay.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.bankAccount.label_tag }}
            <input type="text" name="bankAccount" class="form-control" value="{{ member.bankAccount }}" aria-describedby="bankAccountHelp" placeholder="請輸入電話號碼" maxlength="15" id="id_bankAccount">
            <small id="bankAccountHelp" class="form-text text-muted">{{ form.bankAccount.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.bankAccount.errors %}
                {% for error in form.bankAccount.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.is_FCU.label_tag }}
            <select name="is_FCU" class="form-control" placeholder="" id="id_is_FCU">
                <option value="Y" {% ifequal member.is_FCU "Y" %}{{"selected"}}{% endifequal %}>逢甲大學</option>
                <option value="N" {% ifequal member.is_FCU "N" %}{{"selected"}}{% endifequal %}>其他學校</option>
            </select>
            <small id="is_FCUHelp" class="form-text text-muted">{{ form.is_FCU.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.is_FCU.errors %}
                {% for error in form.is_FCU.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.school.label_tag }}
            <input type="text" name="school" class="form-control" value="{{ member.school }}" aria-describedby="schoolHelp" placeholder="請輸入學校名稱" maxlength="50" id="id_school">
            <small id="schoolHelp" class="form-text text-muted">{{ form.school.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.school.errors %}
                {% for error in form.school.errors %}
                    <div class="invalid-feedback">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="custom-control custom-checkbox my-3">
            <input type="checkbox" class="custom-control-input" id="privacy" name="privacy" required>
            <label class="custom-control-label" for="privacy" style="color:red">本人同意將個人資料提供逢甲大學黑客社使用，本社依個人資料保護法、相關法規及學校相關法規進行處理以及利用。</label>
        </div>
        <div class="custom-control custom-checkbox my-3">
            <input type="checkbox" class="custom-control-input" id="privacy2" name="privacy2" required>
            <label class="custom-control-label" for="privacy2" style="color:red">本人入社後即同意保密協議之內容。</label>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    {% if form.name.errors %}
        document.getElementById("id_name").classList.add("is-invalid");
    {% endif %}
    {% if form.nid.errors %}
        document.getElementById("id_nid").classList.add("is-invalid");
    {% endif %}
    {% if form.dept.errors %}
        document.getElementById("id_dept").classList.add("is-invalid");
    {% endif %}
    {% if form.level.errors %}
        document.getElementById("id_level").classList.add("is-invalid");
    {% endif %}
    {% if form.phone.errors %}
        document.getElementById("id_phone").classList.add("is-invalid");
    {% endif %}
    {% if form.email.errors %}
        document.getElementById("id_email").classList.add("is-invalid");
    {% endif %}
</script>
{% endblock %}
