<!-- 入社表單注意事項 -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinModalTitle"><b>入社表單填寫注意事項</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>匯款資訊</h5>
                <ul>
                    <li>銀行：中華郵政（700）</li>
                    <li>分行：臺中逢甲郵局（臺中25支）</li>
                    <li>戶名：逢甲大學黑客社洪群哲</li>
                    <li>帳號：00212560942111</li>
                    <li>金額：</li>
                        <ul>
                            <li>本校生社費：200 元</li>
                            <li>外校生社費：250 元</li>
                            <li>社服：250 元</li>
                        </ul>
                    <li>若有加購社服者，匯款時請務必將社費金額加上社服金額！</li>
                </ul>
                <br>
                <h5>線上入社 & 線上茶會入社之注意事項</h5>
                <ul>
                    <li>填寫入社表單前，請務必確認匯款至正確的帳戶，並於填表時提供您的銀行帳戶後五碼；匯款完成後，請自行保留匯款收據等相關資訊以供備查。</li>
                    <li>本社確認填表資料及款項入帳無誤後，將於七天內以 E-mail 的方式寄送社費收據。</li>
                    <li>若七天後未收到社費收據，請先自行線上查詢是否繳費，如有問題請聯絡黑客社粉絲專頁。</li>
                    <li>社服收據將於領取社服時寄送。</li>
                    <li>如填表後發現資料錯誤，請聯絡黑客社粉絲專頁。</li>
                </ul>
                <br>
                <h5>實體社課入社之注意事項</h5>
                <ul>
                    <li>每次社課結束後皆可繳納社費，為使作業順利，請先填寫表單後再找事務部部員進行繳費。</li>
                    <li>當事務部部員確認填表資料、繳費資訊無誤以及確認收到款項後，將立刻以 E-mail 的方式寄送社費收據。</li>
                    <li>社服收據將於領取社服時寄送。</li>
                    <li>如填表後發現資料錯誤，請在繳費時告知你的姓名或學號；若是學號填錯，請直接重新填寫表單。</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    <i class="fas fa-book"></i>
                    我已閱讀完注意事項
                </button>
            </div>
        </div>
    </div>
</div>