<!-- 入社表單注意事項 -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinModalTitle">入社表單填寫注意事項</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>除了銀行末五碼及外校名稱外其他欄位都是必填</li>
                    <li>請填寫完正確資料，送出表單後，至櫃台將您的學生證交給事務，確認完您的個人資料後，繳交社費 200 元後，即可入社</li>
                　<li>若您不小心填寫錯誤資訊，請至櫃檯找事務更正，您無法自己更改資訊</li>
                </ul>
                <h5>線上入社 & 線上茶會入社之注意事項</h5>
                <ul>
                    <li>填寫入社表單前，請務必確認匯款至正確的帳戶，並於填表時提供您的銀行帳戶後五碼；匯款完成後，請自行保留匯款收據等相關資訊以供備查。</li>
                    <li>本社確認填表資料及款項入帳無誤後，將於七天內以 E-mail 的方式寄送收據。</li>
                    <li>若七天後未收到收據，請先自行線上查詢是否繳費，如有問題請聯絡黑客社粉絲專頁。</li>
                    <li>如填表後發現資料錯誤，請聯絡黑客社粉絲專頁。</li>
                </ul>
                <h5>實體社課入社之注意事項</h5>
                <ul>
                    <li>每次社課結束後皆可繳納社費，為使作業順利，請先填寫表單後再找事務部部員繳納社費。</li>
                    <li>當事務部部員確認填表資料、繳費資訊無誤以及確認收到款項後，將立刻以 E-mail 的方式寄送收據。</li>
                    <li>如填表後發現資料錯誤，請在繳費時告知你的姓名或學號；若是學號填錯，請直接重新填寫表單。</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    <i class="fas fa-book"></i>
                    我已閱讀完注意事項
                </button>
            </div>
        </div>
    </div>
</div>