<!-- 保密協議內容 -->
    <div class="modal fade" id="secretModal" tabindex="-1" role="dialog" aria-labelledby="secretModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="secretModalTitle"><b>逢甲大學黑客社保密協議</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p>茲參與人（以下簡稱甲方）參與逢甲大學黑客社（以下簡稱乙方）辦理社課或演講活動，為保障雙方權益，經雙方同意訂立本保密協議以茲遵守，其條款如下：</p>
                    <ol>
                        <li>甲方於社課或演講活動中，乙方所提供之資訊環境或設備皆只限於活動中使用，不可於活動中（外）對資訊環境或設備進行攻擊行為，若造成損壞乙方可依法對甲方要求賠償。</li>
                        <br>
                        <li>甲方於社課或演講活動中，所學習之資安漏洞（弱點），皆不可於乙方未授權之情況進行實作或攻擊，若造成第三方之權利或財產損害，皆屬個人行為，乙方不須負任何法律責任。</li>
                        <br>
                        <li>甲方於社課或演講活動中，所學習之資訊技術，皆不可於乙方未授權之情況下使用，若造成他人權利或財產損害，皆屬個人行為，甲方須自負法律責任，乙方不負任何連帶責任。</li>
                        <br>
                        <li>若因甲方之行為導致乙方遭受任何侵權指控或司法調查時，乙方因此承擔賠償或經判決確定後之相關法律責任，有權向甲方追償彌補損失。</li>
                        <br>
                        <li>本協議簽署後留存於乙方備查，並於五年後銷毀，乙方將依據逢甲大學黑客社個人資料保護聲明書及政府相關法令處理甲方提供之個人資料。</li>
                        <br>
                        <li>本協議如經塗改，無效。</li>
                        <br>
                        <li>甲、乙雙方如因本協議涉訟，同意以臺灣臺中地方法院為第一審管轄法院。</li>
                        <br>
                        <li>甲、乙雙方確認，在簽署本協議前已仔細審閱過本協議內容，並為完全自願簽署。</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">
                        <i class="fas fa-book"></i>
                        我已閱讀完保密協議
                    </button>
                </div>
            </div>
        </div>
    </div>