{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css"
    integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
{% endblock %}

{% block title %}黑客社 - 保密協議{% endblock %}

{% block content %}
<div class="container">
    <h3>保密協議</h3>
    <hr>
    <form action="{% url 'join:secret' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.name.errors %}
            {% for error in form.name.errors %}
            <div class="invalid-feedback">
                <p>{{ error }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.nid.label_tag }}
            {{ form.nid }}
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.nid.errors %}
            {% for error in form.nid.errors %}
            <div class="invalid-feedback">
                <p>{{ error }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            <small id="phoneHelp" class="form-text text-muted">{{ form.phone.help_text }}</small>
            {% comment %} 錯誤訊息 {% endcomment %}
            {% if form.phone.errors %}
            {% for error in form.phone.errors %}
            <div class="invalid-feedback">
                <p>{{ error }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="custom-control custom-checkbox my-3">
            <input type="checkbox" class="custom-control-input" id="privacy" name="privacy" required>
            <label class="custom-control-label" for="privacy"
                style="color:red">本人同意將個人資料提供逢甲大學黑客社使用，本社依個人資料保護法、相關法規及學校相關法規進行處理以及利用。</label>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="far fa-check-circle"></i>
            提交
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#secretModal">
            <i class="fab fa-readme"></i>
            點我再次閱讀保密協議
        </button>
    </form>

    <!-- 保密協議內容 -->
    {% include 'secret.html' %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $('#joinModal').modal();

    {% if form.name.errors %}
    document.getElementById("id_name").classList.add("is-invalid");
    {% endif %}
    {% if form.nid.errors %}
    document.getElementById("id_nid").classList.add("is-invalid");
    {% endif %}
    {% if form.dept.errors %}
    document.getElementById("id_dept").classList.add("is-invalid");
    {% endif %}
    {% if form.level.errors %}
    document.getElementById("id_level").classList.add("is-invalid");
    {% endif %}
    {% if form.phone.errors %}
    document.getElementById("id_phone").classList.add("is-invalid");
    {% endif %}
    {% if form.email.errors %}
    document.getElementById("id_email").classList.add("is-invalid");
    {% endif %}
</script>
{% endblock %}