{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.css" integrity="sha256-nJK+Jim06EmZazdCbGddx5ixnqfXA13Wlw3JizKK1GU=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.css" integrity="sha256-QG5qcyovbK2zsUkGMWTVn0PZM1P7RVx0Z05QwB9dCeg=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js" integrity="sha256-F4ovzqUMsKm41TQVQO+dWHQA+sshyOUdmnDcTPMIHkM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js" integrity="sha256-I1bdnmA3OtkQwlbwNbJQ2y+kH2fIXfnIjhAfYhxJqiY=" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}黑客社 - 課程總覽{% endblock %}

{% block content %}
<!-- https://fullcalendar.io/ -->
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <!--
        <li class="nav-item">
            <a class="nav-link" id="ALL-tab" data-toggle="tab" href="#ALL" role="tab" aria-controls="ALL" aria-selected="true">全部</a>
        </li>
        -->
        <li class="nav-item">
            <a class="nav-link" id="ACT-tab" data-toggle="tab" href="#ACT" role="tab" aria-controls="ACT" aria-selected="false">講座</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="CODE-tab" data-toggle="tab" href="#CODE" role="tab" aria-controls="CODE" aria-selected="false">程式線</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="S-tab" data-toggle="tab" href="#S" role="tab" aria-controls="S" aria-selected="false">資安線</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="DATE-tab" data-toggle="tab" href="#DATE" role="tab" aria-controls="DATE" aria-selected="false">行事曆</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
       <div class="tab-pane fade" id="ACT" role="tabpanel" aria-labelledby="ACT-tab">
            <table class="table table-bordered table-striped table-hover my-2">
                <thead>
                    <tr>
                        <th scope="col">日期</th>
                        <th scope="col">名稱</th>
                        <th scope="col">報名狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">09/16 (四)</th>
                        <td>Discord 聊天 & QA</td>
                        <td>
                            <a href="https://hackersir.kktix.cc/events/20191206aiot4" class="btn btn-success" role="button" target="_blank">
                                <i class="fas fa-sign-in-alt"></i>
                                前往參加
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">09/23 (四)</th>
                        <td>新生茶會</td>
                        <td>
                            <a href="https://hackersir.kktix.cc/events/2021-freshmenparty" class="btn btn-success" role="button" target="_blank">
                                <i class="fas fa-sign-in-alt"></i>
                                前往報名
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">TBD</th>
                        <td>三社聯合夜烤</td>
                        <td>
                            <button class="btn btn-secondary" disabled>
                                <i class="fas fa-lock"></i>
                                敬請期待
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
    <div class="tab-pane fade" id="CODE" role="tabpanel" aria-labelledby="CODE-tab">
            <table class="table table-bordered table-striped table-hover my-2">
                <thead>
                    <tr>
                        <th scope="col">日期</th>
                        <th scope="col">名稱</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">09/28 (二)</th>
                        <td>Python 之武器鍛造篇</td>
                    </tr>
                    <tr>
                        <th scope="row">10/05 (二)</th>
                        <td>Python 之新手教學篇</td>
                    </tr>
                    <tr>
                        <th scope="row">10/12 (二)</th>
                        <td>Python 之新手任務篇</td>
                    </tr>
                    <tr>
                        <th scope="row">10/19 (二)</th>
                        <td>因 CPE 考試，社課暫停一次</td>
                    </tr>
                    <tr>
                        <th scope="row">10/26 (二)</th>
                        <td>因統籌考前一週，社課暫停一次</td>
                    </tr>
                    <tr>
                        <th scope="row">11/02 (二)</th>
                        <td>因統籌考，社課暫停一次</td>
                    </tr>
                    <tr>
                        <th scope="row">11/09 (二)</th>
                        <td>Python 之瘋狂刷裝備篇</td>
                    </tr>
                    <tr>
                        <th scope="row">11/16 (二)</th>
                        <td>前端三寶</td>
                    </tr>
                    <tr>
                        <th scope="row">11/23 (二)</th>
                        <td>Python 之打怪練等篇</td>
                    </tr>
                    <tr>
                        <th scope="row">11/30 (二)</th>
                        <td>Linux</td>
                    </tr>
                    <tr>
                        <th scope="row">12/07 (二)</th>
                        <td>Git</td>
                    </tr>
                    <tr>
                        <th scope="row">12/14 (二)</th>
                        <td>Docker</td>
                    </tr>
                    <tr>
                        <th scope="row">12/28 (二)</th>
                        <td>第二次社員大會</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="S" role="tabpanel" aria-labelledby="S-tab">
            <table class="table table-bordered table-striped table-hover my-2">
                <thead>
                    <tr>
                        <th scope="col">日期</th>
                        <th scope="col">名稱</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">09/30 (四)</th>
                        <td>Hacking Intro</td>
                    </tr>
                    <tr>
                        <th scope="row">10/07 (四)</th>
                        <td>環境安裝</td>
                    </tr>
                    <tr>
                        <th scope="row">10/14 (四)</th>
                        <td>Web Security 0x1</td>
                    </tr>
                    <tr>
                        <th scope="row">10/21 (四)</th>
                        <td>Web Security 0x2</td>
                    </tr>
                    <tr>
                        <th scope="row">10/28 (四)</th>
                        <td>因統籌考前一週，社課暫停一次</td>
                    </tr>
                    <tr>
                        <th scope="row">11/04 (四)</th>
                        <td>因統籌考，社課暫停一次</td>
                    </tr>
                    <tr>
                        <th scope="row">11/11 (四)</th>
                        <td>Web Security 0x3</td>
                    </tr>
                    <tr>
                        <th scope="row">11/18 (四)</th>
                        <td>Reverse 0x1</td>
                    </tr>
                    <tr>
                        <th scope="row">11/25 (四)</th>
                        <td>Reverse 0x2</td>
                    </tr>
                    <tr>
                        <th scope="row">12/02 (四)</th>
                        <td>Reverse 0x3</td>
                    </tr>
                    <tr>
                        <th scope="row">12/09 (四)</th>
                        <td>密碼學 0x1</td>
                    </tr>
                    <tr>
                        <th scope="row">12/16 (四)</th>
                        <td>密碼學 0x2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="tab-pane fade show active" id="DATE" role="tabpanel" aria-labelledby="DATE-tab">
            <div class="alert alert-dark alert-dismissible fade show my-2" role="alert">
                <p>以下行事曆，<span class="text-primary">藍色為程式線社課</span>，<span class="text-success">綠色為資安線社課</span>，<span class="text-secondary">灰色為講座活動</span>，<span class="text-danger">紅色為重要活動</span>。</p>
                <p>除了社課外，講座類型活動皆需事先報名！</p>
                <hr>
                此活動列表上之日期皆為參考，最終活動日期請關注 <a href="https://www.facebook.com/HackerSir.tw/" target="_blank" class="alert-link">逢甲大學黑客社粉絲團</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="my-4" id="calendar"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid'],
            defaultView: 'dayGridMonth',
            header: {
                left: 'today',
                center: 'title',
                right: 'prev,next'
            },
            titleFormat: {year: 'numeric', month: 'long'},
            eventColor: 'gray',
            events: [
                {
                    title: 'Discord 聊天 & QA',
                    start: '2021-09-16',
                    color: '#343A40',
                    textColor: 'white',
                },
                {
                    title: '新生茶會',
                    start: '2021-09-23',
                    color: '#343A40',
                    textColor: 'white',
                },
                {
                    title: 'Python 之武器鍛造篇',
                    start: '2021-09-28',
                    color: '#33b5e5',
                    textColor: 'white',
                },
                {
                    title: 'Hacking Intro',
                    start: '2021-09-30',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: 'Python 之新手教學篇',
                    start: '2021-10-05',
                    color: '#33b5e5',
                    textColor: 'white',
                },
                {
                    title: '環境安裝',
                    start: '2021-10-07',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: 'Python 之新手任務篇',
                    start: '2021-10-12',
                    color: '#33b5e5',
                    textColor: 'white',
                },
                {
                    title: 'Web Security 0x1',
                    start: '2021-10-14',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: 'CPE',
                    start: '2021-10-19',
                    color: '#343A40',
                    textColor: 'white',
                },
                {
                    title: 'Web Security 0x2',
                    start: '2021-10-21',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: '統籌考前一週',
                    start: '2021-10-26',
                    color: '#343A40',
                    textColor: 'white',
                },
                {
                    title: '統籌考前一週',
                    start: '2021-10-28',
                    color: '#343A40',
                    textColor: 'white',
                },
                {
                    title: '統籌考',
                    start: '2021-11-02',
                    color: '#343A40',
                    textColor: 'white',
                },
                {
                    title: '統籌考',
                    start: '2021-11-04',
                    color: '#343A40',
                    textColor: 'white',
                },
                {
                    title: 'Python 之瘋狂刷裝備篇',
                    start: '2021-11-09',
                    color: '#33b5e5',
                    textColor: 'white',
                },
                {
                    title: 'Web Security 0x3',
                    start: '2021-11-11',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: '前端三寶',
                    start: '2021-11-16',
                    color: '#33b5e5',
                    textColor: 'white',
                },
                {
                    title: 'Reverse 0x1',
                    start: '2021-11-18',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: 'Python 之打怪練等篇',
                    start: '2021-11-23',
                    color: '#33b5e5',
                    textColor: 'white',
                },
                {
                    title: 'Reverse 0x2',
                    start: '2021-11-25',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: 'Linux',
                    start: '2021-11-30',
                    color: '#33b5e5',
                    textColor: 'white',
                },
                {
                    title: 'Reverse 0x3',
                    start: '2021-12-02',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: 'Git',
                    start: '2021-12-07',
                    color: '#33b5e5',
                    textColor: 'white',
                },
                {
                    title: '密碼學 0x1',
                    start: '2021-12-09',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: 'Docker',
                    start: '2021-12-14',
                    color: '#33b5e5',
                    textColor: 'white',
                },
                {
                    title: '密碼學 0x2',
                    start: '2021-12-16',
                    color: '#00C851',
                    textColor: 'white',
                },
                {
                    title: '社員大會',
                    start: '2021-12-28',
                    color: '#DC3545',
                    textColor: 'white',
                },
            ],

        });

        calendar.render();
    });
</script>
{% endblock %}
