<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">HackerSir</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        表單
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <!--
                            <a class="dropdown-item" href="{% url 'enter:attend' %}">茶會調查</a>
                            <a class="dropdown-item" href="{% url 'enter:checkin' %}">茶會簽到</a>
                        -->
                        <a class="dropdown-item" href="{% url 'join:join' %}">入社表單</a>
                        <a class="dropdown-item" href="{% url 'join:secret' %}">保密協議</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        查詢
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <!--
                            <a class="dropdown-item" href="{% url 'enter:search' %}">茶會調查</a>
                        -->
                        
                        <a class="dropdown-item" href="{% url 'join:search' %}">入社表單</a>
                        <a class="dropdown-item" href="{% url 'join:secretSearch' %}">保密協議</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join:view' %}">總覽</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        統計圖表
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="{% url 'chart:joinclub' %}">入社情形</a>
                        <!--
                            <a class="dropdown-item" href="{% url 'chart:receiveprize' %}">領獎情形</a>
                            <a class="dropdown-item" href="{% url 'chart:attendance' %}">出席情形</a>
                        -->
                    </div>
                </li>
            {% else %}
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join:join' %}">入社表單</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'join:secret' %}">保密協議</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        查詢
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="{% url 'join:searchForMember' %}">繳款情形</a>
                    </div>
                </li>
                
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'course' %}">課程總覽</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://act.hackersir.org/" target="_blank" >活動列表</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <span class="text-white my-2 mr-2 my-sm-0">Hi {{ user.username }}!</span>
            {% comment %} <a class="btn btn-outline-primary my-2 mr-2 my-sm-0" href="{% url 'admin:index' %}">Admin</a> {% endcomment %}
            <a class="btn btn-outline-light my-2 mr-2 my-sm-0" href="{% url 'logout' %}">登出</a>
        {% comment %} {% else %}
            <a class="btn btn-outline-light my-2 mr-2 my-sm-0" href="{% url 'login' %}">登入</a> {% endcomment %}
        {% endif %}
        {% comment %} <a class="btn btn-outline-light my-2 mr-2 my-sm-0" href="{% url 'register' %}">註冊</a> {% endcomment %}
    </div>
</nav>